/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* <---------Hero section-------> */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.navbar {
  font-family: "Josefin Sans", sans-serif;
  height: 6rem;
  display: flex;
  background: #161515;
}
.logo {
  width: 30%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: yellow; */
}
.logo:hover {
  cursor: pointer;
}
.logo span {
  font-size: 25px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 6rem;
  /* background-color: wheat; */
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  /* background-color: blue; */
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  /* background-color: red; */
  padding: 1rem 3rem;
  margin: 0px 3px;
}
.menu ul li a:hover {
  background: rgb(37, 34, 34);
}

.wrapper {
  overflow: hidden;
  top: 5.7em;
  position: absolute;
  width: 100%;
  height: 89.1vh;
}
.slides-container {
  height: 500px;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
  display: block;
}
.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slide-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.next-btn,
.prev-btn {
  background: #eee;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 400ms;
}
.next-btn:hover,
.prev-btn:hover {
  background-color: #48f9ff;
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
}
.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-items: center;
  margin: 16px 0px;
  position: absolute;
  top: 90%;
  left: 47%;
}
.single-dot {
  background-color: #333;
  height: 16px;
  width: 16px;
  margin: 0px 8px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms;
}
.single-dot.active {
  background: #eee;
}

/* <---------Service section-------> */
.services {
  height: 151rem;
  width: 100%;
}
.whole-service {
  background-color: wheat;
  margin: -12px 0px;
}
.services h1 {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 18px 0px;
}
/* .lodging-container {
  margin: 10px 0px;
} */
.lodging {
  height: 50vh;
  display: flex;
  /* background-color: red; */
  position: relative;
  justify-content: center;
}

.lodging h3 {
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  font-size: 2rem;
  padding: 5px 0px;
  margin: 4px 0px;
}
.lodging .lodging-right {
  border-radius: 12px;
  border: 5px solid white;
  position: absolute;
  left: 79%;
  top: 10%;
  color: white;
  border: 2px solid black;
  position: absolute;
  left: 79%;
  top: 5%;
  background-color: rgb(46, 38, 38);
  background: linear-gradient(#f13b3c, #bb64c5);
  height: 24rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}
.lodging .lodging-center {
  /* border: 2px solid black; */
  position: absolute;
  left: 45rem;
  top: 18%;
  width: 34rem;
  /* border: 2px solid yellow; */
  /* background-color: red; */
}
.lodging .lodging-center p {
  font-family: "Akaya Telivigala", cursive;
  padding: 5px 6px;
  font-size: 26px;
}
.lodging .lodging-left {
  justify-content: center;
  align-items: center;
}
.lodging .lodging-left img {
  border-radius: 75px 5px 75px 5px;
  border: 5px solid white;
  height: 24rem;
  width: 38rem;
  margin: 10px 18px;
  position: absolute;
  left: 2%;
  top: 5%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.lodging .lodging-right h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  margin: 1rem 3rem;
}
.Lodging-features {
  font-family: "Akaya Telivigala", cursive;
  list-style: none;
  margin: 1rem 2rem;
}
.Lodging-features li {
  font-size: 25px;
  padding: 3px 0px;
  margin: 2px 4px;
  list-style-type: circle;
}

.fooding {
  height: 50vh;
  display: flex;
  /* background-color: rgb(236, 77, 77); */
  position: relative;
  justify-content: center;
}
.fooding h3 {
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  font-size: 2rem;
  padding: 5px 0px;
  margin: 4px 0px;
}
.fooding .fooding-center {
  /* border: 2px solid black; */
  position: absolute;
  left: 20rem;
  top: 35%;
  width: 60rem;
  /* border: 2px solid yellow; */
}
.fooding .fooding-center p {
  font-family: "Akaya Telivigala", cursive;
  padding: 5px 6px;
  font-size: 26px;
}
.fooding .fooding-right {
  justify-content: center;
  align-items: center;
}
.fooding .fooding-right img {
  border-radius: 75px 5px 75px 5px;
  border: 5px solid white;
  height: 24rem;
  width: 30rem;
  margin: 10px 18px;
  position: absolute;
  right: 2.3%;
  top: 10%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.parking {
  height: 50vh;
  display: flex;
  /* background-color: red; */
  position: relative;
  margin: -10px 0px;
  justify-content: center;
}

.parking h3 {
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  font-size: 2rem;
  padding: 5px 0px;
  margin: 4px 0px;
}
.parking .parking-right {
  /* border: 2px solid black; */
  position: absolute;
  left: 79%;
  top: 10%;
}
.parking .parking-center {
  /* border: 2px solid black; */
  position: absolute;
  left: 45rem;
  top: 18%;
  width: 34rem;
  /* border: 2px solid yellow; */
}
.parking .parking-center p {
  font-family: "Akaya Telivigala", cursive;
  padding: 5px 6px;
  font-size: 26px;
}
.parking .parking-left {
  justify-content: center;
  align-items: center;
}
.parking .parking-left img {
  border-radius: 75px 5px 75px 5px;
  border: 5px solid white;
  height: 24rem;
  width: 35rem;
  margin: 10px 18px;
  position: absolute;
  left: 2%;
  top: 5%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.sightseeing {
  height: 50vh;
  display: flex;
  /* background-color: rgb(236, 77, 77); */
  position: relative;
  justify-content: center;
}
.sightseeing h3 {
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  font-size: 2rem;
  padding: 5px 0px;
  margin: 4px 0px;
}
.sightseeing .sightseeing-center {
  /* border: 2px solid black; */
  position: absolute;
  left: 20rem;
  top: 35%;
  width: 60rem;
  /* border: 2px solid yellow; */
}
.sightseeing .sightseeing-center p {
  font-family: "Akaya Telivigala", cursive;
  padding: 5px 6px;
  font-size: 26px;
}
.sightseeing .sightseeing-right {
  justify-content: center;
  align-items: center;
}
.sightseeing .sightseeing-right img {
  border-radius: 75px 5px 75px 5px;
  border: 5px solid white;
  height: 24rem;
  width: 35rem;
  margin: 10px 18px;
  position: absolute;
  right: 2.3%;
  top: 10%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.pickup {
  height: 50vh;
  display: flex;
  /* background-color: red; */
  position: relative;
  margin: -10px 0px;
  justify-content: center;
}

.pickup h3 {
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  font-size: 2rem;
  padding: 5px 0px;
  margin: 4px 0px;
}
.pickup .pickup-right {
  border: 2px solid black;
  position: absolute;
  left: 79%;
  top: 10%;
}
.pickup .pickup-center {
  /* border: 2px solid black; */
  position: absolute;
  left: 45rem;
  top: 18%;
  width: 34rem;
  /* border: 2px solid yellow; */
}
.pickup .pickup-center p {
  font-family: "Akaya Telivigala", cursive;
  padding: 5px 6px;
  font-size: 26px;
}
.pickup .pickup-left {
  justify-content: center;
  align-items: center;
}
.pickup .pickup-left img {
  border-radius: 75px 5px 75px 5px;
  border: 5px solid white;
  height: 24rem;
  width: 35rem;
  margin: 10px 18px;
  position: absolute;
  left: 2%;
  top: 5%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

/* <---------Packages section-------> */

.packages {
  background-color: rgb(178, 177, 192);
  height: 50vh;
  width: 100%;
}
.packages h1 {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 18px 0px;
}
.whole-package {
  display: flex;
  justify-content: space-between;
}
.package-container {
  margin: 30px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.image {
  background: #0c63b9;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}
.image img {
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
  width: 100%;
  opacity: 1;
}
.image:hover img {
  opacity: 0;
}
.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}
.image .details h2 {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}
.image:hover .details h2 {
  cursor: pointer;
  transform: translateY(-30px);
}
.image .details p {
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity;
  margin: 30px 8px 4px 8px;
}
.image:hover .details p {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-40px);
}
/* .more {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}
.image:hover .more {
  bottom: 0;
}
.more .read-more {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
} */

/* Contact us */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(29, 28, 28);
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin: 25px;
  font-weight: 500;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .icon .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: linear-gradient(#f13b3c, #bb64c5);
  color: white;
}
.contactForm h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}
.contactForm .inputbox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #ffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* <---------Gallery section-------> */
.main {
  position: relative;
  height: 100%;
  width: 100%;
}
.main h1 {
  position: relative;
  height: auto;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5% 0 2% 0;
  text-align: center;
  font-size: 2.8em;
  font-weight: 650;
  letter-spacing: 1.5px;
  color: #333;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  background: rgba(0, 0, 0, 0.05);
}
.main p {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #555;
}
.main .gallery {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow: dense;
}
.main .gallery .img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
}
.main .gallery .img:first-child {
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.main .gallery .img:nth-child(2n + 3) {
  grid-row-start: span 2;
}
.main .gallery .img:nth-child(4n + 5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.main .gallery .img:nth-child(6n + 7) {
  grid-row-start: span 1;
}
.main .gallery .img:nth-child(8n + 9) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.main .gallery .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5) grayscale(100);
  transition: 0.3s ease-in-out;
}
.main .gallery .img:hover img {
  filter: brightness(1) grayscale(0);
}

/* <---------About Us section-------> */

.about-header {
  font-family: "Kanit", sans-serif;
  height: 100vh;
  width: 100%;
  background: url("/images/about.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.about-main {
  font-family: "Akaya Telivigala", cursive;
  width: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffff;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-main:hover {
  cursor: pointer;
  color: rgb(202, 202, 118);
}
.about-main h1 {
  padding: 15px;
  font-size: 3.5rem;
}
.about-main p {
  line-height: 2rem;
  font-size: 22px;
}

/* <---------Footer section-------> */

footer {
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  color: white;
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content p {
  text-align: justify;
}

.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #ffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #d4d0d0;
}

.place,
.phone,
.email {
  display: flex;
  margin: 25px 0px;
}

.mail,
.msg {
  margin: 1px;
}

.footer-copyright {
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media only screen and (max-width: 1024px) {
  /* <------Navbar----> */

  /* <------Contact----> */
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .contactInfo {
    justify-content: center;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }

  /* <------Gallery----> */
  .main h1 {
    font-size: 1.8em;
    width: 400px;
  }
  .main p {
    font-size: 1.2em;
    width: 400px;
  }
  .main .gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  /* <------Contact us----> */
  .about-main {
    height: 70vh;
  }
  .about-main h1 {
    font-size: 2rem;
  }
  .about-main p {
    font-size: 15px;
  }

  /* <------Packages----> */
  .whole-package {
    display: block;
  }
  /* <------Footer----> */
  .main-content {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  /* <------Gallery----> */
  .main h1 {
    font-size: 1.2em;
    width: 300px;
  }
  .main p {
    font-size: 0.89em;
    width: 400px;
  }
  .main .gallery {
    display: block;
    grid-template-columns: auto auto;
  }
  .main .gallery .img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2% 0%;
  }
  .main .gallery .img img {
    display: block;
    filter: brightness(1) grayscale(0);
  }
}
